<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: red;
        }
        h2{
            color: blue
        }
        body{
            background-color: aqua;
        }
    </style>
</head>
<body>
    <h1>Welcome to my site, please sure to use /YOURNAME to get a nice page with your name.\nAlso, you can do /main in order to access the best SITE ever!!</h1>
    <h2>This is my newest update and automated update site!</h2>
</body>
</html>